.honda-bg-color{
    background-color: #264653;
}
h1{
    font-size: 48px;
}
.honda-btn-bg{
    background-color: #E76F51;
}
#modal-btn{
    text-decoration: none;
    color: #ffffff;
}
.honda-text-color{
    color: #E76F51;
}
.gray {
    filter: grayscale(100%);
}
.star-color{
    color: #E77C40;
}
.user-name{
    text-decoration: none;
    color: #23A6F0;
}
.job-text-color{
    color: #252B42;
}

.accordion{
    border: 2px solid #D5E5FB;
    border-radius: 5px;
}

.honda-accordion-button{
    background-image: linear-gradient(to bottom, #ffffff 0%, #ffffff 100%);
    box-shadow: none;
    
}

.honda-accordion-button:not(.collapsed) {
    color: #000000;
    background-color: none;
    box-shadow: none;
}

.accordion-body-text{
    color: #7E848C;
}

.explore-bg{
    background-color: rgba(38, 70, 83, 0.144);
}